/* vim: set filetype=less : */
@define-color bg0 #282828;
@define-color bg1 #3c3836;
@define-color bg2 #504945;
@define-color bg3 #665c54;
@define-color bg4 #7c6f64;
@define-color fg0 #fbf1c7;
@define-color fg1 #ebdbb2;
@define-color fg2 #d5c4a1;
@define-color fg3 #bdae93;
@define-color fg4 #a89984;

* {
  padding: 0px;
  margin: 0px;
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
}
#battery,
#backlight,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#language,
#memory,
#network,
#systray,
#wireplumber,
#workspaces {
  color: @fg1;
  margin: 4px 4px;
  padding: 0px 8px 0px 8px;
  border-radius: 8px;
  background-color: @bg2;
}

#idle_inhibitor {
  padding-right: 13px;
}

#tray {
  padding-left: 10px;
}

#workspaces {
  padding: 0px 2px 0px 2px;
}

#workspaces button {
  margin: 4px;
  padding: 0px 1px 0px 1px;
  border-radius: 6px;
}

#workspaces button.empty {
  color: @fg4;
}

#workspaces button.active {
  background-color: @bg4;
  color: @fg1;
}

#window {
  padding-left: 4px;
}

window#waybar {
  background-color: alpha(@bg0, 0.99);
  border: 0px solid @bg0;
  border-radius: 0px;
  transition-property: background-color;
  transition-duration: 0.5s;
}
