* {
  padding: 0;
  margin: 0;
  font-family: "JetBrainsMono Nerd Font Mono";
  font-weight: bold;
  font-size: 14px;
}

window#waybar {
  border-bottom: 0px solid #ffffff;
  background: @surface;
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* ------ Modules Left ------ */
.modules-left {
  padding-left: 6px;
}

#clock,
#cpu,
#custom-icon,
#idle_inhibitor,
#memory {
  padding: 2px 8px;
  margin: 6px 2px;
  border-radius: 12px;
  background: @surface_container_high;
  color: @secondary;
}

#custom-icon {
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background: @primary;
  color: @on_primary;
}

#clock {
  font-weight: bold;
  font-size: 13px;
}

#idle_inhibitor {
  padding: 4px 8px;
  font-size: 15px;
}

/* ------ Modules Right/Center ------ */
.modules-center,
.modules-right {
  padding-right: 4px;
  padding-left: 4px;
}

#backlight,
#battery,
#language,
#network,
#systray,
#wireplumber {
  background: @surface_container_high;
  color: @secondary;
  border-radius: 12px;
  padding: 2px 8px;
  margin: 6px 2px;
}

#custom-tray_arrow {
  font-size: 15px;
}

#tray {
  padding-left: 10px;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
  margin: 0px 1px;
  padding: 0px 1px;
}

#workspaces button {
  padding: 2px 6px;
  margin: 6px 2px;
  border-radius: 12px;
  background: @surface_container_high;
  color: @outline;
}

#workspaces button.active {
  background: @primary;
  color: @on_primary;
}

tooltip {
  background: @surface;
  border: 1px solid @on_surface;
}
